#club-location {
    display: block;
    width: 100%;
    height: 450px;
    background: #58B;
}

.slack {
    background-color: #4D394B;
}

.facebook {
    background-color: #4267B2;
}

.slack, .facebook {
    color: #FFFFFF;
    font-size: larger;
    padding: 15px;
    text-align: center;
}

a.no-style {
    text-decoration: none;
}