
i.small-icon {
    font-size: 1rem;
}

.bg-dark {
    background-color: #9A3234 !important;
}

blockquote.blockquote {
    border-left: #6c757d99 4px solid;
    padding-left: 10px;
}

/*** Games ***/
.img-container {
    width: 80%;
    margin: auto;
}
.img-container img {
    width: 100%;
}

a.link-game {
    padding: 0 20px;
    border-right: #9A3234 2px solid;
    text-decoration: none;
}
a.link-game:last-child {
    border-right: none;
}
small.disclaimer {
    font-size: 10px;
}
/*** /Games ***/


/*** Footer ***/
footer .social {
    text-align: center;
}

footer .social a {
    margin: 0 10px;
}

footer .social i {
    padding: 5px;
    font-size: 1.2rem;
}
/*** /Footer ***/