
i.small-icon {
    font-size: 1rem;
}

.bg-dark {
    background-color: #9A3234 !important;
}

blockquote.blockquote {
    border-left: #6c757d99 4px solid;
    padding-left: 10px;
}

h2 {
    font-family: 'New Rocker', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}

/*** Games ***/
.img-container {
    width: 80%;
    margin: auto;
}
.img-container img {
    width: 100%;
}

a.link-game {
    padding: 0 20px;
    border-right: #9A3234 2px solid;
    text-decoration: none;
}
a.link-game:last-child {
    border-right: none;
}
small.disclaimer {
    font-size: 10px;
}
/*** /Games ***/

/** Metal Overture **/
.partition .container .row {
    margin-top: 0;
    margin-bottom: 0;
}

section.partition {
    min-height: 100vh;
}

section.partition.heavymetal {
    background-color: #333431;
    color: #ffffff;
}

section.partition.shark {
    background-color: #1b1c1f;
    color: #ffffff;
}

section.partition.nightrider {
    background-color: #1b100c;
    color: #ffffff;
}

.poster {
    padding-top: 8vh;
}

.poster img, .intro img {
    width: 100%;
    padding: 10px;
}

.poster h1 {
    text-align: center;
    font-size: 4rem;
}

.partition .social {
    padding-top: 1vh;
    font-size: 56px;
    text-align: center;
}

.intro p {
    font-size: 1.2rem;
}

.playtest h3 {
    font-size: 8rem;
}

.playtest div.description {
    display: flex;
    width: 50%;
    height: 200px;
    margin: auto;
}

.playtest p.description {
    margin: auto;
    text-align: center;
}
/** /Metal Overture **/

/*** Footer ***/
footer .social {
    text-align: center;
}

footer .social a {
    margin: 0 10px;
}

footer .social i {
    padding: 5px;
    font-size: 1.2rem;
}
/*** /Footer ***/